image: runtimeverificationinc/riscv-gnu-toolchain:ubuntu-jammy-2024.04.12

stages:
  - test
  - eval


variables:
  BLUESPECDIR: "/opt/cad/bluespec/latest/lib"
  BLUESPEC_HOME: "/opt/cad/bluespec/latest"
  GIT_SUBMODULE_STRATEGY: recursive
  GIT_SUBMODULE_FORCE_HTTPS: "true"
  GIT_SUBMODULE_PATHS: ":(exclude)freertos/RTOSBench"

test:
  stage: test
  timeout: 5h
  script:
    - pushd RTOSUnit
    - git clone https://github.com/esa-tu-darmstadt/BSVTools.git
    - python3 BSVTools/bsvAdd.py
    - popd
    - apt-get -y update
    - DEBIAN_FRONTEND=noninteractive apt-get install -y libtcl
    - git submodule update --init
    - ln -s /usr/lib/x86_64-linux-gnu/libtcl8.6.so.0 /usr/lib/x86_64-linux-gnu/libtcl8.5.so
    - export PATH=$BLUESPEC_HOME/bin:$PATH
    - echo LOAD $LOAD STORE $STORE SCHED $SCHED LATCH $LATCH DIRTY $DIRTY
    - pushd freertos
    - pushd RTOSBench
    - patch -p1 < ../remove_intermediary_test_results.patch
    - popd
    - popd
    - CROSS=riscv64-unknown-elf- make $CORE | tee logfile
    - mkdir -p log/$TEST
    - cat logfile | grep TOOK | tee log/$TEST/LOAD_$LOAD-STORE_$STORE-SCHED_$SCHED-DIRTY_$DIRTY-LATCH_$LATCH
    - grep "elapsed:" logfile
  artifacts:
    paths:
    - log/*
  parallel:
    matrix:
      - LOAD: SW
        STORE: SW
        SCHED: [HW, SW]
        LATCH: "NO"
        DIRTY: N
        TEST: [context-switch/round_robin, mq/mq, mq/mq_processing, mutex/mutex_processing, semaphore/sem, semaphore/sem_prio, semaphore/sem_processing, semaphore/sem_workload, mq/mq_workload, mutex/mutex_workload, mutex/mutex, mutex/mutex_pip]
        CORE: [piccolo, cv32e40p]
      - LOAD: SW
        STORE: HW
        SCHED: [HW, SW]
        LATCH: "NO"
        DIRTY: [N, Y]
        TEST: [context-switch/round_robin, mq/mq, mq/mq_processing, mutex/mutex_processing, semaphore/sem, semaphore/sem_prio, semaphore/sem_processing, semaphore/sem_workload, mq/mq_workload, mutex/mutex_workload, mutex/mutex, mutex/mutex_pip]
        CORE: [piccolo]
      - LOAD: HW
        STORE: HW
        SCHED: [HW, SW]
        LATCH: "NO"
        DIRTY: [N, Y]
        TEST: [context-switch/round_robin, mq/mq, mq/mq_processing, mutex/mutex_processing, semaphore/sem, semaphore/sem_prio, semaphore/sem_processing, semaphore/sem_workload, mq/mq_workload, mutex/mutex_workload, mutex/mutex, mutex/mutex_pip]
        CORE: [piccolo]
      - LOAD: HW
        STORE: HW
        SCHED: HW
        LATCH: [LD, ST, BOTH]
        DIRTY: [N, Y]
        TEST: [context-switch/round_robin, mq/mq, mq/mq_processing, mutex/mutex_processing, semaphore/sem, semaphore/sem_prio, semaphore/sem_processing, semaphore/sem_workload, mq/mq_workload, mutex/mutex_workload, mutex/mutex, mutex/mutex_pip]
        CORE: [piccolo]

collect_results:
  stage: eval
  script:
    - apt-get -y update
    - apt-get -y install pip
    - pip install pandas matplotlib seaborn
    - python3 util/plot_logs.py
  artifacts:
    paths:
    - log/*
    - ./*.png
