[submodule "freertos/RTOSBench"]
	path = freertos/RTOSBench
	url = https://github.com/RTOSUnit/RTOSBench.git
[submodule "freertos/FreeRTOS-Kernel"]
	path = https://github.com/RTOSUnit/FreeRTOS.git
	url = ../freertos
[submodule "RTOSUnit"]
	path = RTOSUnit
	url = https://github.com/RTOSUnit/RTOSUnit.git
[submodule "cores/cv32e40p"]
	path = cores/cv32e40p
	url = https://github.com/RTOSUnit/cv32e40p.git
[submodule "cores/cva6"]
	path = cores/cva6
	url = https://github.com/RTOSUnit/cva6.git
