image: jhvjkcyyfdxghjk/multicontext_ci:latest

stages:
  - test
  - eval


variables:
  BLUESPECDIR: "/opt/cad/bluespec/latest/lib"
  BLUESPEC_HOME: "/opt/cad/bluespec/latest"
  GIT_SUBMODULE_STRATEGY: recursive
  GIT_SUBMODULE_FORCE_HTTPS: "true"
  GIT_SUBMODULE_PATHS: ":(exclude)freertos/RTOSBench"
  ALWAYS_LOAD: 1
  RISCV_EMBEDDED_CC: "/opt/riscv_e/bin/riscv32-unknown-elf-"

test_cv32rt_EABI:
  stage: test
  timeout: 5h
  script:
    - pushd RTOSUnit
    - python3 /opt/bsvtools/bsvAdd.py
    - popd
    - export PATH=$BLUESPEC_HOME/bin:/opt/riscv/bin:$PATH
    - echo LOAD $LOAD STORE $STORE SCHED $SCHED LATCH $LATCH DIRTY $DIRTY
    - git submodule update --init freertos/RTOSBench
    - pushd freertos
    - pushd RTOSBench
    - git checkout && git reset --hard && patch -p1 < ../remove_intermediary_test_results.patch
    - popd
    - popd
    - make $CORE | tee logfile
    - mkdir -p log/$CORE/$TEST
    - cat logfile | grep TOOK | tee log/$CORE/$TEST/RV32RT_EABI
  artifacts:
    paths:
    - log/*
  parallel:
    matrix:
      - LOAD: SW
        STORE: HW
        SCHED: SW
        TCB: SW
        LATCH: "NO"
        DIRTY: N
        TEST: [context-switch/round_robin, mq/mq, mq/mq_processing, mutex/mutex_processing, semaphore/sem, semaphore/sem_prio, semaphore/sem_processing, semaphore/sem_workload, mq/mq_workload, mutex/mutex_workload, mutex/mutex, mutex/mutex_pip]
        CORE: [cv32e40p, cva6]
        EMBEDDED_ABI: Y
        DUAL_PORT: Y

test_cv32rt_ABI:
  stage: test
  timeout: 5h
  script:
    - pushd RTOSUnit
    - python3 /opt/bsvtools/bsvAdd.py
    - popd
    - export PATH=$BLUESPEC_HOME/bin:/opt/riscv/bin:$PATH
    - echo LOAD $LOAD STORE $STORE SCHED $SCHED LATCH $LATCH DIRTY $DIRTY
    - pushd freertos
    - pushd RTOSBench
    - git checkout && git reset --hard && patch -p1 < ../remove_intermediary_test_results.patch
    - popd
    - popd
    - make $CORE | tee logfile
    - mkdir -p log/$CORE/$TEST
    - cat logfile | grep TOOK | tee log/$CORE/$TEST/RV32RT_ABI
  artifacts:
    paths:
    - log/*
  parallel:
    matrix:
      - LOAD: SW
        STORE: HW
        SCHED: SW
        TCB: SW
        LATCH: "NO"
        DIRTY: N
        TEST: [context-switch/round_robin, mq/mq, mq/mq_processing, mutex/mutex_processing, semaphore/sem, semaphore/sem_prio, semaphore/sem_processing, semaphore/sem_workload, mq/mq_workload, mutex/mutex_workload, mutex/mutex, mutex/mutex_pip]
        CORE: [cv32e40p, cva6]
        RV32I_CV32RT: Y
        DUAL_PORT: Y

test_cva6:
  stage: test
  timeout: 5h
  before_script:
    - git reset --hard
    - git clean -xfd
    - git submodule foreach --recursive git reset --hard
    - git submodule foreach --recursive git clean -xfd
  script:
    - pushd RTOSUnit
    - python3 /opt/bsvtools/bsvAdd.py
    - popd
    - export PATH=$BLUESPEC_HOME/bin:/opt/riscv/bin:$PATH
    - echo LOAD $LOAD STORE $STORE SCHED $SCHED LATCH $LATCH DIRTY $DIRTY
    - pushd freertos
    - pushd RTOSBench
    - git checkout && git reset --hard && patch -p1 < ../remove_intermediary_test_results.patch
    - popd
    - popd
    - make $CORE | tee logfile
    - mkdir -p log/$CORE/$TEST
    - cat logfile | grep TOOK | tee log/$CORE/$TEST/LOAD_$LOAD-STORE_$STORE-SCHED_$SCHED-TCB_$TCB-DIRTY_$DIRTY-LATCH_$LATCH
    - cat logfile | grep "got irq!"
  artifacts:
    paths:
    - log/*
  parallel:
    matrix:
      - LOAD: SW
        STORE: SW
        SCHED: [SW, HW]
        TCB: SW
        LATCH: "NO"
        DIRTY: N
        TEST: [context-switch/round_robin, mq/mq, mq/mq_processing, mutex/mutex_processing, semaphore/sem, semaphore/sem_prio, semaphore/sem_processing, semaphore/sem_workload, mq/mq_workload, mutex/mutex_workload, mutex/mutex, mutex/mutex_pip]
        CORE: [cva6]
      - LOAD: SW
        STORE: HW
        SCHED: [HW, SW]
        TCB: SW
        LATCH: "NO"
        DIRTY: [N, Y]
        TEST: [context-switch/round_robin, mq/mq, mq/mq_processing, mutex/mutex_processing, semaphore/sem, semaphore/sem_prio, semaphore/sem_processing, semaphore/sem_workload, mq/mq_workload, mutex/mutex_workload, mutex/mutex, mutex/mutex_pip]
        CORE: [cva6]
      - LOAD: HW
        STORE: HW
        SCHED: [SW, HW]
        TCB: SW
        LATCH: "NO"
        DIRTY: [N, Y]
        TEST: [context-switch/round_robin, mq/mq, mq/mq_processing, mutex/mutex_processing, semaphore/sem, semaphore/sem_prio, semaphore/sem_processing, semaphore/sem_workload, mq/mq_workload, mutex/mutex_workload, mutex/mutex, mutex/mutex_pip]
        CORE: [cva6]
      - LOAD: HW
        STORE: HW
        SCHED: HW
        TCB: SW
        LATCH: "LD"
        DIRTY: [N]
        TEST: [context-switch/round_robin, mq/mq, mq/mq_processing, mutex/mutex_processing, semaphore/sem, semaphore/sem_prio, semaphore/sem_processing, semaphore/sem_workload, mq/mq_workload, mutex/mutex_workload, mutex/mutex, mutex/mutex_pip]
        CORE: [cva6]
      - LOAD: HW
        STORE: HW
        SCHED: HW
        TCB: HW
        LATCH: "NO"
        DIRTY: [N]
        TEST: [context-switch/round_robin, mq/mq, mq/mq_processing, mutex/mutex_processing, semaphore/sem, semaphore/sem_prio, semaphore/sem_processing, semaphore/sem_workload, mq/mq_workload, mutex/mutex_workload, mutex/mutex, mutex/mutex_pip]
        CORE: [cva6]

test_cv32e40p:
  stage: test
  timeout: 5h
  before_script:
    - git reset --hard
    - git clean -xfd
    - git submodule foreach --recursive git reset --hard
    - git submodule foreach --recursive git clean -xfd
  script:
    - pushd RTOSUnit
    - python3 /opt/bsvtools/bsvAdd.py
    - popd
    - export PATH=$BLUESPEC_HOME/bin:/opt/riscv/bin:$PATH
    - echo LOAD $LOAD STORE $STORE SCHED $SCHED LATCH $LATCH DIRTY $DIRTY
    - pushd freertos
    - pushd RTOSBench
    - git checkout && git reset --hard && patch -p1 < ../remove_intermediary_test_results.patch
    - popd
    - popd
    - make $CORE | tee logfile
    - mkdir -p log/$CORE/$TEST
    - cat logfile | grep TOOK | tee log/$CORE/$TEST/LOAD_$LOAD-STORE_$STORE-SCHED_$SCHED-TCB_$TCB-DIRTY_$DIRTY-LATCH_$LATCH
  artifacts:
    paths:
    - log/*
  parallel:
    matrix:
      - LOAD: SW
        STORE: SW
        SCHED: [HW, SW]
        TCB: SW
        LATCH: "NO"
        DIRTY: N
        TEST: [context-switch/round_robin, mq/mq, mq/mq_processing, mutex/mutex_processing, semaphore/sem, semaphore/sem_prio, semaphore/sem_processing, semaphore/sem_workload, mq/mq_workload, mutex/mutex_workload, mutex/mutex, mutex/mutex_pip]
        CORE: [cv32e40p]
      - LOAD: SW
        STORE: HW
        SCHED: [HW, SW]
        TCB: SW
        LATCH: "NO"
        DIRTY: [N, Y]
        TEST: [context-switch/round_robin, mq/mq, mq/mq_processing, mutex/mutex_processing, semaphore/sem, semaphore/sem_prio, semaphore/sem_processing, semaphore/sem_workload, mq/mq_workload, mutex/mutex_workload, mutex/mutex, mutex/mutex_pip]
        CORE: [cv32e40p]
      - LOAD: HW
        STORE: HW
        SCHED: [HW, SW]
        TCB: SW
        LATCH: "NO"
        DIRTY: [N, Y]
        TEST: [context-switch/round_robin, mq/mq, mq/mq_processing, mutex/mutex_processing, semaphore/sem, semaphore/sem_prio, semaphore/sem_processing, semaphore/sem_workload, mq/mq_workload, mutex/mutex_workload, mutex/mutex, mutex/mutex_pip]
        CORE: [cv32e40p]
      - LOAD: HW
        STORE: HW
        SCHED: HW
        TCB: SW
        LATCH: "LD"
        DIRTY: [N]
        TEST: [context-switch/round_robin, mq/mq, mq/mq_processing, mutex/mutex_processing, semaphore/sem, semaphore/sem_prio, semaphore/sem_processing, semaphore/sem_workload, mq/mq_workload, mutex/mutex_workload, mutex/mutex, mutex/mutex_pip]
        CORE: [cv32e40p]
      - LOAD: HW
        STORE: HW
        SCHED: HW
        TCB: HW
        LATCH: "NO"
        DIRTY: N
        TEST: [context-switch/round_robin, mq/mq, mq/mq_processing, mutex/mutex_processing, semaphore/sem, semaphore/sem_prio, semaphore/sem_processing, semaphore/sem_workload, mq/mq_workload, mutex/mutex_workload, mutex/mutex, mutex/mutex_pip]
        CORE: [cv32e40p]

test_piccolo:
  stage: test
  timeout: 5h
  allow_failure: true
  before_script:
    - git reset --hard
    - git clean -xfd
    - git submodule foreach --recursive git reset --hard
    - git submodule foreach --recursive git clean -xfd
  script:
    - pushd RTOSUnit
    - python3 /opt/bsvtools/bsvAdd.py
    - popd
    - export PATH=$BLUESPEC_HOME/bin:/opt/riscv/bin:$PATH
    - echo LOAD $LOAD STORE $STORE SCHED $SCHED LATCH $LATCH DIRTY $DIRTY
    - pushd freertos
    - pushd RTOSBench
    - git checkout && git reset --hard && patch -p1 < ../remove_intermediary_test_results.patch
    - popd
    - popd
    - make $CORE | tee logfile
    - mkdir -p log/$CORE/$TEST
    - cat logfile | grep TOOK | tee log/$CORE/$TEST/LOAD_$LOAD-STORE_$STORE-SCHED_$SCHED-TCB_$TCB-DIRTY_$DIRTY-LATCH_$LATCH
    - grep "elapsed:" logfile
  artifacts:
    paths:
    - log/*
  parallel:
    matrix:
      - LOAD: SW
        STORE: SW
        SCHED: [HW, SW]
        TCB: SW
        LATCH: "NO"
        DIRTY: N
        TEST: [context-switch/round_robin, mq/mq, mq/mq_processing, mutex/mutex_processing, semaphore/sem, semaphore/sem_prio, semaphore/sem_processing, semaphore/sem_workload, mq/mq_workload, mutex/mutex_workload, mutex/mutex, mutex/mutex_pip]
        CORE: [piccolo]
      - LOAD: SW
        STORE: HW
        SCHED: [HW, SW]
        TCB: SW
        LATCH: "NO"
        DIRTY: [N, Y]
        TEST: [context-switch/round_robin, mq/mq, mq/mq_processing, mutex/mutex_processing, semaphore/sem, semaphore/sem_prio, semaphore/sem_processing, semaphore/sem_workload, mq/mq_workload, mutex/mutex_workload, mutex/mutex, mutex/mutex_pip]
        CORE: [piccolo]
      - LOAD: HW
        STORE: HW
        SCHED: [HW, SW]
        TCB: SW
        LATCH: "NO"
        DIRTY: [N, Y]
        TEST: [context-switch/round_robin, mq/mq, mq/mq_processing, mutex/mutex_processing, semaphore/sem, semaphore/sem_prio, semaphore/sem_processing, semaphore/sem_workload, mq/mq_workload, mutex/mutex_workload, mutex/mutex, mutex/mutex_pip]
        CORE: [piccolo]
      - LOAD: HW
        STORE: HW
        SCHED: HW
        TCB: SW
        LATCH: [ST]
        DIRTY: [N, Y]
        TEST: [context-switch/round_robin, mq/mq, mq/mq_processing, mutex/mutex_processing, semaphore/sem, semaphore/sem_prio, semaphore/sem_processing, semaphore/sem_workload, mq/mq_workload, mutex/mutex_workload, mutex/mutex, mutex/mutex_pip]
        CORE: [piccolo]

collect_results:
  stage: eval
  script:
    - echo hi
  artifacts:
    paths:
    - log/*

plot_figs:
  stage: eval
  script:
    - python3 util/plot_logs.py
  artifacts:
    paths:
    - ./*.png
