[submodule "freertos/RTOSBench"]
	path = freertos/RTOSBench
	url = https://github.com/Brannium/RTOSBench.git
[submodule "freertos/FreeRTOS-Kernel"]
	path = freertos/FreeRTOS-Kernel
	url = ../freertos
[submodule "RTOSUnit"]
	path = RTOSUnit
	url = ../rtosunit
[submodule "cores/cv32e40p"]
	path = cores/cv32e40p
	url = ../cv32e40p
[submodule "cores/cva6"]
	path = cores/cva6
	url = ../cva6.git
