image: jhvjkcyyfdxghjk/multicontext_ci:latest

stages:
  - test
  - eval


variables:
  BLUESPECDIR: "/opt/cad/bluespec/latest/lib"
  BLUESPEC_HOME: "/opt/cad/bluespec/latest"
  GIT_SUBMODULE_STRATEGY: recursive
  GIT_SUBMODULE_FORCE_HTTPS: "true"
  GIT_SUBMODULE_PATHS: ":(exclude)freertos/RTOSBench"

test_piccolo:
  stage: test
  timeout: 5h
  script:
    - pushd RTOSUnit
    - python3 /opt/bsvtools/bsvAdd.py
    - popd
    - export PATH=$BLUESPEC_HOME/bin:/opt/riscv/bin:$PATH
    - echo LOAD $LOAD STORE $STORE SCHED $SCHED LATCH $LATCH DIRTY $DIRTY
    - pushd freertos
    - pushd RTOSBench
    - patch -p1 < ../remove_intermediary_test_results.patch
    - popd
    - popd
    - make $CORE | tee logfile
    - mkdir -p log/$CORE/$TEST
    - cat logfile | grep TOOK | tee log/$CORE/$TEST/LOAD_$LOAD-STORE_$STORE-SCHED_$SCHED-DIRTY_$DIRTY-LATCH_$LATCH
    - grep "elapsed:" logfile
  artifacts:
    paths:
    - log/*
  parallel:
    matrix:
      - LOAD: SW
        STORE: SW
        SCHED: [HW, SW]
        LATCH: "NO"
        DIRTY: N
        TEST: [context-switch/round_robin, mq/mq, mq/mq_processing, mutex/mutex_processing, semaphore/sem, semaphore/sem_prio, semaphore/sem_processing, semaphore/sem_workload, mq/mq_workload, mutex/mutex_workload, mutex/mutex, mutex/mutex_pip]
        CORE: [piccolo]
      - LOAD: SW
        STORE: HW
        SCHED: [HW, SW]
        LATCH: "NO"
        DIRTY: [N, Y]
        TEST: [context-switch/round_robin, mq/mq, mq/mq_processing, mutex/mutex_processing, semaphore/sem, semaphore/sem_prio, semaphore/sem_processing, semaphore/sem_workload, mq/mq_workload, mutex/mutex_workload, mutex/mutex, mutex/mutex_pip]
        CORE: [piccolo]
      - LOAD: HW
        STORE: HW
        SCHED: [HW, SW]
        LATCH: "NO"
        DIRTY: [N, Y]
        TEST: [context-switch/round_robin, mq/mq, mq/mq_processing, mutex/mutex_processing, semaphore/sem, semaphore/sem_prio, semaphore/sem_processing, semaphore/sem_workload, mq/mq_workload, mutex/mutex_workload, mutex/mutex, mutex/mutex_pip]
        CORE: [piccolo]
      - LOAD: HW
        STORE: HW
        SCHED: HW
        LATCH: [LD, ST, BOTH]
        DIRTY: [N, Y]
        TEST: [context-switch/round_robin, mq/mq, mq/mq_processing, mutex/mutex_processing, semaphore/sem, semaphore/sem_prio, semaphore/sem_processing, semaphore/sem_workload, mq/mq_workload, mutex/mutex_workload, mutex/mutex, mutex/mutex_pip]
        CORE: [piccolo]

test_cv32e40p:
  stage: test
  timeout: 5h
  script:
    - pushd RTOSUnit
    - python3 /opt/bsvtools/bsvAdd.py
    - popd
    - export PATH=$BLUESPEC_HOME/bin:/opt/riscv/bin:$PATH
    - echo LOAD $LOAD STORE $STORE SCHED $SCHED LATCH $LATCH DIRTY $DIRTY
    - pushd freertos
    - pushd RTOSBench
    - patch -p1 < ../remove_intermediary_test_results.patch
    - popd
    - popd
    - make $CORE | tee logfile
    - mkdir -p log/$CORE/$TEST
    - cat logfile | grep TOOK | tee log/$CORE/$TEST/LOAD_$LOAD-STORE_$STORE-SCHED_$SCHED-DIRTY_$DIRTY-LATCH_$LATCH
  artifacts:
    paths:
    - log/*
  parallel:
    matrix:
      - LOAD: SW
        STORE: SW
        SCHED: [HW, SW]
        LATCH: "NO"
        DIRTY: N
        TEST: [context-switch/round_robin, mq/mq, mq/mq_processing, mutex/mutex_processing, semaphore/sem, semaphore/sem_prio, semaphore/sem_processing, semaphore/sem_workload, mq/mq_workload, mutex/mutex_workload, mutex/mutex, mutex/mutex_pip]
        CORE: [cv32e40p]

collect_results:
  stage: eval
  script:
    - apt-get -y update
    - apt-get -y install pip
    - pip install --break-system-packages pandas matplotlib seaborn
    - python3 util/plot_logs.py
  artifacts:
    paths:
    - log/*
    - ./*.png
